<h1>Modifier la tâche</h1>

<%= form_with model: @task, local: true do |f| %>
  <div>
    <%= f.label :title, "Titre" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :details, "Détails" %>
    <%= f.text_area :details %>
  </div>

  <div>
    <%= f.label :completed, "Terminée ?" %>
    <%= f.check_box :completed %>
  </div>

  <div>
    <%= f.submit "Mettre à jour" %>
  </div>
<% end %>

<%= link_to "Annuler", task_path(@task) %>
