<h1>Liste des tâches</h1>

<%= link_to "Créer une nouvelle tâche", new_task_path %>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Détails</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.details %></td>
        <td>
          <% if task.completed %>
            ✅ Terminée
          <% else %>
            ❌ En cours
          <% end %>
        </td>
        <td>
          <%= link_to "Modifier", edit_task_path(task) %> |
					<%= button_to "Supprimer", task_path(task), method: :delete, form: { data: { turbo_confirm: "Etes-vous sûr(e) de vouloir supprimer cette tâche ?" } } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
