<h1>Nouvelle tâche</h1>
<%= form_with model: @task, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
	</br>
  <%= f.label :details %>
  <%= f.text_area :details %>
	</br>
  <%= f.submit "Créer la tâche" %>
<% end %>
