<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>Terminée : <%= @task.completed ? "Oui" : "Non" %></p>
<%= link_to "Modifier", edit_task_path(@task) %></br>
<%= link_to "Retour à la liste des tâches", tasks_path %>
